In [1]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

url = 'https://www.switchup.org/chimera/v1/bootcamp-list?mainTemplate=bootcamp-list%2Frankings&path=%2Frankings%2Fbest-coding-bootcamps&isDataTarget=false&featuredSchools=0&logoTag=logo&logoSize=original&numSchools=0&perPage=0&rankType=BootcampRankings&rankYear=2020&recentReview=true&reviewLength=50&numLocations=5&numSubjects=5&numCourses=5&sortOn=name&withReviews=false'

data = requests.get(url).json()

bootcamp_dict = {}

for i, bootcamp in enumerate(data['content']['bootcamps'], 1):
    soup = BeautifulSoup(bootcamp['name'], 'html.parser')
    bootcamp_name = soup.get_text(strip=True)
    
    # Convert to lowercase and replace spaces with hyphens
    formatted_name = bootcamp_name.lower().replace(' & ', '-').replace(' ', '-')
    
    
    # Add bootcamp formatted name and ID to the dictionary
    bootcamp_dict[formatted_name] = bootcamp['id']



# Print the resulting dictionary
print(bootcamp_dict)

{'le-wagon': 10868, 'app-academy': 10525, 'ironhack': 10828, 'general-assembly': 10761, 'hackwagon-academy': 10792, 'springboard': 11035, 'udacity': 11118, 'thinkful': 11098, 'nyc-data-science-academy': 10925, 'dataquest': 10683, 'coding-dojo': 10659, 'juno-college-of-technology': 10787, 'flatiron-school': 10748, 'hack-reactor': 10788, 'the-tech-academy': 11091, 'product-school': 10960, 'codesmith': 10643, 'actualize': 10505, 'makers-academy': 10874, 'product-gym': 10959, 'brainstation': 10571, 'bloomtech': 10854, 'tech-talent-strategy': 11059, 'epicodus': 10739, 'rmotr': 10987, 'uxer-school': 11151, 'designlab': 10697, 'fullstack-academy': 10751, 'tech-elevator': 11056, 'isdi-coders': 11024, 'ubiqum-code-academy': 11111, 'digitalcrafts': 10719, 'the-software-guild': 11090, 'learningfuze': 10862, 'careerfoundry': 10581, 'lighthouse-labs': 10869, 'code-fellows': 10614, 'galvanize': 10754, 'claim-academy': 10589, 'wyncode': 11174, 'noble-desktop': 10914, 'metis': 10886, 'altcademy': 10517, 'neoland': 10906, 'devcodecamp': 10703, 'holberton-school': 10796, 'coding-temple': 10664, 'data-science-dojo': 10685}

In [2]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


# schools = {   
# 'ironhack' : 10828,
# 'app-academy' : 10525,
# 'springboard' : 11035,
# 'udacity' : 11118,
# }
# 

schools = bootcamp_dict

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"

    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [3]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():

    comments.append(get_comments_school(school))

comments = pd.concat(comments)

In [4]:


# cleaning the table
col_remove = ['body', 'rawBody', 'user', 'comments']
comments_clean = comments.drop(columns=col_remove)

# let's change int64 types for int, as there is a error later
# comments_clean = comments_clean.applymap(lambda x: int(x) if isinstance(x, np.int64) else x)

comments_clean.head(3)

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,createdAt,queryDate,program,overallScore,overall,curriculum,jobSupport,review_body,school
0,306495,Nuria Aires,False,None,2021.0,False,,"No regrets, it was perfect, I got what I wanted",11/15/2023,2023-11-15,Data Science & AI - Full-Time,5.0,5.0,5.0,5.0,"Le Wagon Le Wagon changed my life, literally. ...",le-wagon
1,305425,Minnerva Sasu,False,None,2023.0,False,,Amazing!!!,10/5/2023,2023-10-05,Data Science & AI - Full-Time,5.0,5.0,5.0,5.0,"In 9 weeks, I went from procrastinating to doi...",le-wagon
2,305313,Alexander Pegot,False,None,2022.0,False,Data Analyst,Great Experience,10/2/2023,2023-10-02,Data Science & AI - Full-Time,5.0,5.0,5.0,5.0,After making the decision to pursue a career i...,le-wagon

In [6]:
import pandas as pd
import requests

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = pd.json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():

    a, b, c, d = get_school_info(school, id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

In [22]:
locations = pd.concat(locations_list)
locations.head(5)

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15803,"Melbourne, Australia",20.0,Australia,AU,31174.0,Melbourne,melbourne,NaN,NaN,NaN,NaN,le-wagon,10868
1,15904,"Casablanca, Morocco",44.0,Morocco,MA,31119.0,Casablanca,casablanca,NaN,NaN,NaN,NaN,le-wagon,10868
2,15906,"Buenos Aires, Argentina",60.0,Argentina,AR,31171.0,Buenos Aires,buenos-aires,NaN,NaN,NaN,NaN,le-wagon,10868
3,15964,"Brussels, Belgium",46.0,Belgium,BE,31125.0,Brussels,brussels,NaN,NaN,NaN,NaN,le-wagon,10868
4,16039,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,le-wagon,10868

In [8]:
courses = pd.concat(courses_list)
courses.head(5)

                         courses    school  school_id
0     Data Analytics - Full-Time  le-wagon      10868
1     Data Analytics - Part-Time  le-wagon      10868
2   Data Engineering - Full-Time  le-wagon      10868
3   Data Engineering - Part-Time  le-wagon      10868
4  Data Science & AI - Full-Time  le-wagon      10868

In [9]:
badges = pd.concat(badges_list)
badges.head()

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,le-wagon,10868
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,le-wagon,10868
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525
2,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,app-academy,10525

In [10]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.switchup.org/chimera/v1/bootcamp-list?mainTemplate=bootcamp-list%2Frankings&path=%2Frankings%2Fbest-coding-bootcamps&isDataTarget=false&featuredSchools=0&logoTag=logo&logoSize=original&numSchools=0&perPage=0&rankType=BootcampRankings&rankYear=2020&recentReview=true&reviewLength=50&numLocations=5&numSubjects=5&numCourses=5&sortOn=name&withReviews=false'

data = requests.get(url).json()

for i, bootcamp in enumerate(data['content']['bootcamps'], 1):
    soup = BeautifulSoup(bootcamp['description'], 'html.parser')
    print('{}. {}'.format(i, bootcamp['name']))
    print(soup.get_text(strip=True))
    print('-' * 80)

1. Le Wagon
Le Wagon is an intensive international coding bootcamp geared toward career changers and entrepreneurs who want to gain coding skills. Participants complete 450 hours of coding in 9 weeks full-time or 24 weeks part-time, which includes building their own web app. After completing the program, students join an international alumni network of 8,000+ for career support and community.
--------------------------------------------------------------------------------
2. App Academy
App Academy teaches participants everything they need to know about software engineering in just 12 weeks. Their full-time bootcamps have helped over 2,000 graduates find jobs at more than 850 companies. Their deferred tuition plan means participants pay for the program only after they’ve landed their first web development job.
--------------------------------------------------------------------------------
3. Ironhack
Ironhack offers full-time and part-time courses in 9- or 24-week formats, respectively. Career services include portfolio and resume building, job interview preparation, networking, and hiring fairs. Ironhack has scholarships available for women and military vets who are interested in a tech career.
--------------------------------------------------------------------------------
4. General Assembly
General Assembly offers a range of full-time, part-time, and self-paced courses. They have a number of financial assistance options available including loans and scholarships. For many of the programs, students are given a career coach and the opportunity to attend various networking events.
--------------------------------------------------------------------------------
5. Hackwagon Academy
Hackwagon is an immersive coding bootcamp in Singapore. With courses in Data Science, Fullstack Web Development, and Front-end Development, Hackwagon aims to impart industry relevant skills and 21st century capabilities that are future-proof.
--------------------------------------------------------------------------------
6. Springboard
Springboard offers self-paced data science courses that can be completed in 2 to 4 months, with one-on-one weekly mentor support. The program costs $499 per month, so students who finish early will pay less for their tuition.
--------------------------------------------------------------------------------
7. Udacity
Udacity, a global technology education provider, offers online courses including a 12-week AI programming bootcamp and a 16-week front-end web developer bootcamp. More than 30 nanodegree programs cover such subjects as data science, artificial intelligence, programming, autonomous systems, and cloud computing.
--------------------------------------------------------------------------------
8. Thinkful
Thinkful teaches students how to become equipped for the world's next workforce with fast paced, job-ready programs in software engineering, data science, data analytics, and design. Students learn cutting-edge industry standards and work 1-on-1 with professional mentors from their field. Career services, hiring partners, and job placement assistance mean students get a job in tech or their money back.
--------------------------------------------------------------------------------
9. NYC Data Science Academy
NYC Data Science Academy offers data science boot camps in full- or part-time formats year-round. Students can attend their programs on campus or online. They also provide a quarterly career day where hiring partners meet students for possible job opportunities.
--------------------------------------------------------------------------------
10. Dataquest
Dataquest is entirely remote, offering its data science bootcamp students dedicated web-based instruction and support. The program hosts beginning, intermediate, and advanced training paths designed to match a student’s future career goals and current level of expertise in the field.
--------------------------------------------------------------------------------
11. Coding Dojo
Coding Dojo has multiple in-person campuses located across the continental United States, as well as an online program that offers real-time instructor support. The full, 3-stack curriculum requires 14 weeks of on-site instruction, while the part-time, online program teaches students 2 stacks in a flexible, 20-week bootcamp.
--------------------------------------------------------------------------------
12. Juno College of Technology
Juno College offers a full-time, 9-week bootcamp in web development as well as many part-time programs. Get immersed in the fun, collaborative learning environment, enjoying a 10:1 student-instructor ratio and 24/7 access to their 12,000 square foot space in downtown Toronto.
--------------------------------------------------------------------------------
13. Flatiron School
Flatiron School offers part- and full-time bootcamps in software engineering, data science, and UX/UI, in addition to a free coding foundation course. Benefits of participating in one of the school’s programs include access to an employer network and a one-year membership with WeWork.
--------------------------------------------------------------------------------
14. Hack Reactor
Hack Reactor teaches budding software engineers the computer science, app development and engineering skills they will need in its part- and full-time immersive programs. It also offers a live, online remote bootcamp for remote students around the world.​​
--------------------------------------------------------------------------------
15. The Tech Academy
The Tech Academy’s Software Developer bootcamp prepares students to become junior developers and assists with job-seeking. Participants can study entirely online, attend classes in person, or do a mix of both. The program is self-paced and offers open-enrollment, so students can start whenever and work full- or part-time.
--------------------------------------------------------------------------------
16. Product School
Product School provides certified courses in product management, data analytics, coding, digital marketing, UX design and product leadership to professionals across 16 campuses worldwide. In addition to on-site campuses, they also offer the same courses, live online.
--------------------------------------------------------------------------------
17. Codesmith
Codesmith prepares students, also known as residents, for positions as mid to senior-level engineers. During their full-time, 12-week residency, students build projects, participate in monthly meetups and receive one-on-one resume guidance. Once accepted into the program, residents may qualify for scholarships to fund their tuition.
--------------------------------------------------------------------------------
18. Actualize
Actualize’s part-time, 12-week coding bootcamp takes a pedagogical approach, meaning their instructors are both expert educators and developers. Choose between daytime or evening classes in Chicago or via live video. Actualize’s “Job Hacking” curriculum is woven into the bootcamp to help graduates find a job after they finish.
--------------------------------------------------------------------------------
19. Makers Academy
Makers Academy launches coding careers in 12 short weeks via its immersive software developer programs. It utilizes a holistic approach to teaching that includes community, health, and self-direction. Each student is guaranteed a job offer upon graduation. Makers Academy also offers paid, year-long apprenticeships.
--------------------------------------------------------------------------------
20. Product Gym
Product Gym is an exclusive membership community for aspiring Product Managers with multiple networking, career acceleration, and coaching development channels, all designed to help our members and contribute to the Product Management community.
--------------------------------------------------------------------------------
21. BrainStation
With locations in New York, Toronto, and Vancouver, BrainStation offers data, design, development, marketing, and product-related courses both online and in-person (part-time and full-time). BrainStation offers a variety of categorized scholarships for prospective students, including entrepreneurs, post-secondary STEM graduates, non-profit employees, and more.
--------------------------------------------------------------------------------
22. BloomTech
Learn coding from a Silicon Valley tech academy through remote classes from the Lambda School. Choose between a 30-week full-time bootcamp or a 12-month part-time course. The school’s deferred tuition model allows students to attend for free, paying nothing back until they’re making at least $50,000 a year.
--------------------------------------------------------------------------------
23. Tech Talent & Strategy
Tech Talent South offers full-time (8 or 12 weeks depending on the specific course) and part-time coding programs, with onsite locations in Georgia, North Carolina, Ohio, Texas, Connecticut, Arizona, and Louisiana. Through its pipeline partnerships with various corporations, Tech Talent South can help its students land great jobs with top-level companies.
--------------------------------------------------------------------------------
24. Epicodus
Epicodus offers evening introduction classes on a part-time basis and more intensive programs on a full-time basis. Upon graduation, Epicodus offers its students' career services, including resume and cover letter review, portfolio assessments, interview preparation, and aided job searches.
--------------------------------------------------------------------------------
25. RMOTR
RMOTR offers prospective students a 1-week free trial that includes two weeks of prep work material, plus mentoring. Its 4-month Python web development courses are offered online through live, evening classes. Pricing is fixed at a simple monthly rate.
--------------------------------------------------------------------------------
26. UXER School
UXER School Madrid offers both full-time and part-time design and user experience courses that give students the skills desired by hiring tech companies. Career services and events like Hiring Week help graduates find great jobs, with a vast network of alumni and partner companies to provide additional support.
--------------------------------------------------------------------------------
27. Designlab
Designlab offers both full-time courses, which are 40 hours a week, and part-time courses, which are 20 hours per weeks. They provide each student with a career coach who works with that student for up to six months after graduation to help them find a job.
--------------------------------------------------------------------------------
28. Fullstack Academy
Fullstack Academy offers 13-week full-time and 28-week part-time programs to meet the busy lives of its students. This bootcamp also helps students find a new job using the skills they gained with resume assistance, interview preparation, corporate networking, and salary negotiation assistance.
--------------------------------------------------------------------------------
29. Tech Elevator
With on-site campuses in Cincinnati, Cleveland, Columbus, Detroit, Pittsburgh, and Philadelphia, Tech Elevator offers full-time 14-week courses to help launch a professional coding career. This bootcamp works with more than 330 companies to help place it graduates in high-paying, fast-paced coding positions.
--------------------------------------------------------------------------------
30. ISDI Coders
Skylab Coders offers an 11-week programmer course in web and mobile app development. The course includes instruction in Github, HTML, and CSS as well as JavaScript, TDD, and NodeJS.
--------------------------------------------------------------------------------
31. Ubiqum Code Academy
Ubiqum Code Academy offers 5-month, full-time bootcamps, and one part-time data analyst course. Payment plans include 10% off if tuition is paid upfront, monthly installments, and a plan that allows you to pay half of the tuition up front and the other half once you’ve been hired.
--------------------------------------------------------------------------------
32. DigitalCrafts
DigitalCrafts is the top coding bootcamp in Georgia and Texas. Learn full stack JavaScript and Python development from their faculty of seasoned engineers, and build web applications using current technologies and best practices. Students benefit from career guidance and access to their growing network of hiring partners.
--------------------------------------------------------------------------------
33. The Software Guild
The Software Guild offers a four to six-week introductory course in web development that provides students with the foundations they need to enroll in full-time apprentice bootcamps. After completing the foundational course, students can enroll in the Guild's 12-week Java or .NET/C# tracks.
--------------------------------------------------------------------------------
34. LearningFuze
LearningFuze offers part-time to full-time coding courses ranging from 12 to 40 weeks. Courses teach students how to understand front-end and back-end programming in addition to skills like problem-solving. Students have access to scholarships to help pay tuition and also receive job placement support upon completing their program.
--------------------------------------------------------------------------------
35. CareerFoundry
CareerFoundry's courses in design and web development are 100% online and self-paced. They are six to ten months in length. Each student receives tutoring from a dedicated mentor, and students are guaranteed job placement within 6 months of graduating, or they will have their tuition refunded.
--------------------------------------------------------------------------------
36. Lighthouse Labs
Lighthouse Labs offers full and part-time courses for aspiring software developers at campuses across Canada. Full-time students can choose between bootcamps on web or iOS development. Students can also take intro courses in web development, iOS development and front-end development on a part-time basis.
--------------------------------------------------------------------------------
37. Code Fellows
Code Fellows is a Seattle based, in-person coding bootcamp that focuses on giving students development experience. This immersive program allows students to work in teams and build apps using coding programs. Students also have access to job recruiters because of Code Fellows numerous business partnerships.
--------------------------------------------------------------------------------
38. Galvanize
Galvanize offers part- and full-time software engineering and data science bootcamps in addition to prep courses for those entirely new to the tech industry. A dedicated outcomes team works with graduates to secure industry employment upon completion of the program.
--------------------------------------------------------------------------------
39. Claim Academy
Claim Academy prepares students for careers in full-stack development through bootcamps based on Java or .NET programming languages. Students can enroll in the 12-week program or the 9-week accelerated program. The Academy offers tuition assistance, scholarships, and job placement assistance through its employer network.
--------------------------------------------------------------------------------
40. Wyncode
No prior programming experience is necessary for students training at Wyncode. Its 10-week, on-site immersive programs teach budding coders key industry skills. Wyncode helps graduates maneuver through today's job market and works with a comprehensive hiring network to connect them with jobs.
--------------------------------------------------------------------------------
41. Noble Desktop
Noble desktop offers coding bootcamps on a part-time and full-time basis for those aspiring to learn how to code for websites, apps, and databases. Classes are offered in a range from 12 to 132 hours, depending on the course level as well as focus. All classes are in-person with an experienced instructor.
--------------------------------------------------------------------------------
42. Metis
Metis's accredited data science bootcamp is a full-time, in-person, 12-week program. They offer a $3,000 scholarship for women, members of underrepresented groups, and veterans. The program involves 2-3 hours of classroom work and 4-6 hours of project and development work per day. Each cohort culminates with a presentation of capstone projects to their network of hiring partners.
--------------------------------------------------------------------------------
43. Altcademy
Altcademy offers intensive online programming courses to help students become software developers. Courses cover back and front end technologies, and are designed for self study. Altcademy also provides support through private chatrooms and one-on-one coaching.
--------------------------------------------------------------------------------
44. Neoland
Neoland offers a variety of part-time and full-time bootcamp web design courses, with programs ranging from 16 to 24 weeks. Courses are available in an online format or in-person, depending on the length and program. Students can decide to focus on data science-based learning, UX design, or full stack learning.
--------------------------------------------------------------------------------
45. devCodeCamp
devCodeCamp's immersive programs are designed to take software engineers from beginner to full stack developers in 12 weeks. Students learn full stack development using the C# language. The school offers resume development advice, and helps students prepare for technical interviews.
--------------------------------------------------------------------------------
46. Holberton School
Holberton School offers two-year, full-stack software engineering training in San Francisco, CA; New Haven, CT; Bogota, Medellin, and Cali, Colombia; and Tunis, Tunisia.
--------------------------------------------------------------------------------
47. Coding Temple
Coding Temple specializes in .NET/C# and Python — two of the most sought-after bootcamp programs available. They offer a low student-to-teacher ratio, ensuring that you get valuable individualized attention. Students can get hired by top companies worldwide within 90 days of graduation.
--------------------------------------------------------------------------------
48. Data Science Dojo
Data Science Dojo’s bootcamps are immersive 5-day experiences where students spend 10 hours a day in courses or gaining hands-on training. Students will learn about regression algorithms, classification algorithms, operationalizing machine learning models, and fundamentals of big data engineering. They currently offer a 15% early registration discount.
--------------------------------------------------------------------------------

In [11]:
#this creates a tuple, but we're going to try to convert to sql from df
'''# Create a list of tuples to gather the data
description_tuples = []

for bootcamp in data['content']['bootcamps']:
    name = bootcamp['name']
    description = BeautifulSoup(bootcamp['description'], 'html.parser').get_text(strip=True)

    # Agregate the tuple to the list
    description_tuples.append((name, description))'''

"# Create a list of tuples to gather the data\ndescription_tuples = []\n\nfor bootcamp in data['content']['bootcamps']:\n    name = bootcamp['name']\n    description = BeautifulSoup(bootcamp['description'], 'html.parser').get_text(strip=True)\n\n    # Agregate the tuple to the list\n    description_tuples.append((name, description))"

In [12]:
# CREATING A DF FOR THE DESCRIPTION TEXTS WE EXTRACTED
import pandas as pd
from bs4 import BeautifulSoup

#we create first an empty dataframe
description_df = pd.DataFrame(columns=['name', 'description'])

for bootcamp in data['content']['bootcamps']:
    name = bootcamp['name']
    description = BeautifulSoup(bootcamp['description'], 'html.parser').get_text(strip=True)

    # temporary df with a row
    temp_df = pd.DataFrame({'name': [name], 'description': [description]})

    # Concat the temporary df with the main df
    description_df = pd.concat([description_df, temp_df], ignore_index=True)

In [ ]:
# Group cities/countries and their schools, and modalities (in badges)
# Within the 'comments' df, group by schools, then by programs, and check the avg of: 'overall', 'cv', and 'job support'
# Should we start doing this with SQL or continue with Python?

# Let's send it to SQL

In [18]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd

# creating the conection
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Coperage_7',
    database='sqlproject'
)

# creating engine object
engine = create_engine('mysql+mysqlconnector://root:Coperage_7@localhost/sqlproject')
#engine = create_engine('mysql+mysqlconnector://root:Dorohedoro_0@localhost/sqlproject')
#Dorohedoro_0

In [19]:
# it gave an error, considering it as a dict, so I do the change now to be sure it works
comments_df = pd.DataFrame(comments_clean)

In [20]:
comments_df.to_sql(name='comments', con=engine, if_exists='replace', index=False)

In [23]:
locations.to_sql(name='locations', con=engine, if_exists='replace', index=False)

In [24]:
courses.to_sql(name='courses', con=engine, if_exists='replace', index=False)

In [26]:
badges.to_sql(name='badges', con=engine, if_exists='replace', index=False)

In [25]:
description_df.to_sql(name='description', con=engine, if_exists='replace', index=False)

In [22]:
# Closing conection
conn.close()